<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/vue.js"></script>
  <title>kpt-tool</title>
</head>

<body spellcheck="false">
  <div id="app" @dragover.prevent @drop.prevent>
    <div class="left-pane">
      <my-area class-name="karea" :memos="kMemos" char="K" :limit="MEMO_LIMIT"></my-area>
      <my-area class-name="parea" :memos="pMemos" char="P" :limit="18"></my-area>
    </div>
    <my-area class-name="tarea" :memos="tMemos" char="T" :limit="36"><span class="cBtn">C</span></my-area>
    <transition name="notify">
      <div v-if="notificationVisible" class="notifycation">{{message}}</div>
    </transition>
    <my-area class-name="carea" :memos="cMemos" char="C" :limit="0" :complete="true"></my-area>
  </div>
  <div id="areaTemplate" class="template">
    <section :class="className" @drop="dropMemo">
      <span @click="addMemo" @selectstart.prevent>{{char}}</span><slot></slot>
      <div class="memos">
        <div class="memo" draggable="true" v-for="m in memos" @click="showEditor(m)" @dragstart="dragStart(m)">
          <button class="removeBtn" @click.stop="confirmRemoveMemo(m)">×</button>
          {{m.title}}
        </div>
      </div>
      <memo-editor ref="editor" :memos="memos" :char="char" :complete="complete"></memo-editor>
      <transition name="fade">
        <div class="cover" v-show="covered">
            <div class="spinner"></div>
        </div>
      </transition>
    </section>
  </div>
  <div id="editorTemplate" class="template">
    <div class="memoEditor" v-if="editTarget">
      <button class="removeBtn" @click="hideEditor">×</button>
      <input class="memoTitle" type="text" @change="update"
        ref="title"
        placeholder="メモタイトル"
        v-model="editTarget.title"
        @keydown.esc="escape"
        @keydown.ctrl.left="movePreviousMemo"
        @keydown.ctrl.right="moveNextMemo">
      <textarea class="memoBody" ref="editor" @change="update" v-model="editTarget.body"
        @keydown.esc="escape"
        @keydown.ctrl.left="movePreviousMemo"
        @keydown.ctrl.right="moveNextMemo"></textarea>
      <input class="memoCharge" placeholder="担当者" type="text" v-model="editTarget.charge"
        @keydown.esc="escape"
        @keydown.ctrl.left="movePreviousMemo"
        @keydown.ctrl.right="moveNextMemo">
      <div class="dateInfo">作成日：<span class="createdAt">{{editTarget.createdAt | formatDatetime}}</span><br>
        更新日：<span class="updatedAt">{{editTarget.updatedAt| formatDatetime}}</span></div>
    </div>
  </div>
  <script src="js/memo-editor.js"></script>
  <script src="js/area.js"></script>
  <script src="js/index.js"></script>
</body>

</html>